# Combining Datasets: Concat and Append

In [1]:
import pandas as pd
import numpy as np

In [2]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

# example DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

## Recall: Concatenation of NumPy Arrays

In [3]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
x = [[1, 2],
    [3, 4]]
np.concatenate([x, x], axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

## Simple Concatenation with pd.concat

In [5]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [10]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1); print('\n'); print(df2); print('\n'); print(pd.concat([df1, df2]))

    A   B
1  A1  B1
2  A2  B2


    A   B
3  A3  B3
4  A4  B4


    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [12]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
print(df3); print('\n'); print(df4); print('\n'); print(pd.concat([df3, df4], axis=1))

    A   B
0  A0  B0
1  A1  B1


    C   D
0  C0  D0
1  C1  D1


    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

### Duplicate indices

In [13]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
y.index = x.index # crea indices duplicados
print(x); print('\n'); print(y); print('\n'); print(pd.concat([x, y]))

    A   B
0  A0  B0
1  A1  B1


    A   B
0  A2  B2
1  A3  B3


    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

### Catching the repeats as an error.

In [14]:
try:
    pd.concat([x, y], verify_integrity=True) # para verificar que no hay indices repetidos
except ValueError as e:
    print("ValueError:", e)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

### Ignoring the index

In [16]:
print(x); print('\n'); print(y); print('\n'); print(pd.concat([x, y], ignore_index=True))

    A   B
0  A0  B0
1  A1  B1


    A   B
0  A2  B2
1  A3  B3


    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

### Adding MultiIndex keys

In [17]:
print(x); print('\n'); print(y); print('\n'); print(pd.concat([x, y], keys=['x', 'y']))

    A   B
0  A0  B0
1  A1  B1


    A   B
0  A2  B2
1  A3  B3


      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

## Concatenation with joins

In [22]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
print(df5); print('\n'); print(df6); print('\n'); print(pd.concat([df5, df6]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2


    B   C   D
3  B3  C3  D3
4  B4  C4  D4


     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [23]:
print(df5); print('\n'); print(df6); print('\n'); print(pd.concat([df5, df6], join='inner'))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2


    B   C   D
3  B3  C3  D3
4  B4  C4  D4


    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [41]:
print(df5); print('\n'); print(df6); print('\n')
df_columns = pd.concat([df5, df6])
df_columns = df_columns.reindex(columns=df5.columns)
print(df_columns)
# indico que la unión sea solo en las columnas que coinciden

    A   B   C
1  A1  B1  C1
2  A2  B2  C2


    B   C   D
3  B3  C3  D3
4  B4  C4  D4


     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3  NaN  B3  C3
4  NaN  B4  C4

### The append() method

In [43]:
print(df1); print('\n'); print(df2); print('\n'); print(df1.append(df2))

# el método método append() de Pandas no modifica el objeto original, 
# sino que crea un nuevo objeto con los datos combinados. Tampoco es un
# método muy eficiente, ya que implica la creación de un nuevo índice y 
# un buffer de datos. Por lo tanto, si planea hacer múltiples operaciones 
# de operaciones de adición, generalmente es mejor construir una lista de 
# DataFrames y pasarlos todos a la vez a la función concat().

    A   B
1  A1  B1
2  A2  B2


    A   B
3  A3  B3
4  A4  B4


    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4